@import "./reset.css";

:root {
    --main-background-color: #f3f5fc;
    --main-color-1: hsl(213, 84%, 24%);
    --main-color-2: #b3b3b3;
    --secondary-color-1: #495057;
    --secondary-color-2: #d8dfe8;
}

body {
    background-color: var(--main-background-color);
}

.input {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    width: 75vw;
    height: 100vh;

    padding: 1rem;
}

.input .logo {
    width: 60px;
    height: 24px;
}

.input .input__box {
    width: 100%;
    height: 62.5%;

    padding: .75rem;

    color: var(--main-color-1);
    font-size: 2rem;
    font-weight: 400;
}

.input .input__rules {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .375rem;
}

.input .input__rules img {
    width: .75rem;
    height: .75rem;
}

.input .input__rules span {
    color: var(--secondary-color-1);
    font-size: .75rem;
    font-weight: 400;
}

.input .input__buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.input .input__buttons button {
    width: 10rem;
}

.input .input__buttons .codify {
    padding: 1.5rem;

    border: 1px solid var(--main-color-1);
    border-radius: 1.5rem;

    background-color: var(--main-color-1);

    color: var(--secondary-color-2);
    font-size: 1rem;
    font-weight: 400;
}

.input .input__buttons .decodify {
    padding: 1.5rem;

    border: 1px solid var(--main-color-1);
    border-radius: 1.5rem;

    background-color: var(--secondary-color-2);

    color: var(--main-color-1);
    font-size: 1rem;
    font-weight: 400;
}